[submodule "libraries/async-mqtt-client"]
	path = libraries/async-mqtt-client
	url = git@github.com:marvinroger/async-mqtt-client.git
[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = git@github.com:me-no-dev/ESPAsyncTCP.git
[submodule "libraries/SDM_Energy_Meter"]
	path = libraries/SDM_Energy_Meter
	url = git@github.com:reaper7/SDM_Energy_Meter.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "libraries/Arduino-Temperature-Control-Library"]
	path = libraries/Arduino-Temperature-Control-Library
	url = git@github.com:milesburton/Arduino-Temperature-Control-Library.git
[submodule "libraries/Syslog"]
	path = libraries/Syslog
	url = git@github.com:arcao/Syslog.git
[submodule "libraries/hlw8012"]
	path = libraries/hlw8012
	url = git@github.com:xoseperez/hlw8012.git
[submodule "libraries/esp8266-oled-ssd1306"]
	path = libraries/esp8266-oled-ssd1306
	url = git@github.com:ThingPulse/esp8266-oled-ssd1306.git
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = git@github.com:adafruit/DHT-sensor-library.git
[submodule "hardware/esp8266com/esp8266"]
	path = hardware/esp8266com/esp8266
	url = git@github.com:esp8266/Arduino.git
[submodule "libraries/RemoteDebug"]
	path = libraries/RemoteDebug
	url = git@github.com:JoaoLopesF/RemoteDebug.git
[submodule "libraries/ESP8266Ping"]
	path = libraries/ESP8266Ping
	url = git@github.com:jeroenst/ESP8266Ping.git
[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "libraries/EasyDDNS"]
	path = libraries/EasyDDNS
	url = git@github.com:ayushsharma82/EasyDDNS.git
